.hidden {display: none;}
div.edit_row {
	padding-bottom: 15px;
	display: block;
}
div.edit_label {
	width: 170px;
	padding: 6px 10px 0 0;
	line-height: 16px;
	float: left;
	text-align: right;
}
div.edit_input {
	float: left;
	line-height: 16px;
}
.fileUpload {
	position: relative;
	overflow: hidden;

}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}